body {
    background: #f4f6f9;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    
}

button {
    background: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
}
